container_commands:
    00_clear_npm_cache:
        command: "npm cache clean --force"
        
    01_install_correct_npm_version:
        command: "npm install -g npm@10.2.4"  # Latest stable version compatible with Node 18
        
    02_npm_install:
        command: "npm ci --omit=dev"  # Using npm ci for more reliable installations
        
option_settings:
    aws:elasticbeanstalk:container:nodejs:
        NodeVersion: 18